<ul class="list-group">
    <li class="list-item" *ngFor="let a of authors; let i = index">
      <a class="user-link" *ngIf="i + 1 === authors.length" (click)="onClickAuthor(a.id)" #theLastList>
        <img [src]="a.download_url" class="img-align"/>
        <span>
          <p>
            <span class="list-item-heading">Author ID</span>: {{ a.id }}
          </p>
          <p><span class="list-item-heading">Name</span>: {{ a.author }}</p>
        </span>                
      </a>
      <a class="user-link" *ngIf="i + 1 != authors.length" (click)="onClickAuthor(a.id)">
        <img [src]="a.download_url" class="img-align" />
        <span>
          <p>
            <span class="list-item-heading">Author Id</span>: {{ a.id }}
          </p>
          <p><span class="list-item-heading">Author Name</span>: {{ a.author }}</p>
        </span>
      </a>
      <hr>
    </li>
  </ul>
  
  